@import "./normalize.css";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body,#app{
  height: 100%;
}

.el-breadcrumb{
  margin-bottom: 15px;
}

.el-card{
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .15) !important;
}

.el-pagination{
  margin-top: 15px;
}

.el-table{
  margin-top: 10px;
}

.el-tag{
  margin: 7px;
}

.tbClass{
  border-top: 1px solid #e6e6e6;
}

.bbClass{
  border-bottom: 1px solid #e6e6e6;
}

.vcenter{
  display: flex;
  align-items: center;
}

.el-select{
  margin-top: 10px;
}